{% extends 'base.html.twig' %}

{% block title %}Collections{% endblock %}

{% block body %}
<div class="cont">
    <div class="header">
        <h1 class="title-h1">Mes collections</h1>
        <a href="{{ url('add_album') }}" class="btn btn-primary">Ajouter</a>
    </div>
    <div class="album-list">
        {% if user.albums %}
            {% for album in user.albums %}
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header card-title">
                        <h4 class="card-title">{{ album.name }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Light card title</p>
                        <p class="card-text">{{ album.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
